<article class="reference-person">
  <div class="reference-person__portrait">
    {{ $image:= .Params.image }}
    {{ if $image }}
      {{ partial "image" (dict "Src" $image "Alt" "" "Class" "reference-person__image" "Size" "320x320") }}
    {{ else if .Params.Email }}
      <img
        class="reference-person__image"
        alt=""
        height="320"
        width="320"
        src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=320&pg&d=identicon" />
    {{ end }}
  </div>

  <div class="reference-person__body">
    <h3 class="reference-person__name">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    <div class="reference-person__summary">
      {{ .Summary }}
    </div>
    {{ with .Params.social }}
      <ul
        class="social-icons reference-person__social"
        aria-label="{{ $.Title }} social links">
        {{ range . }}
          <li>
            <a
              href="{{ .link | safeURL }}"
              target="_blank"
              rel="noopener nofollow">
              <span class="sr-only"
                >{{ .name | default "Social profile" }}</span
              >
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</article>
