{{ $image:= .Params.image }}
{{ if $image }}
<div class="image-card">
  <img src="{{ $image }}" alt="{{ .Title }}">
</div>
{{ end }}
<div class="bg-card p-8">
  {{ $categories:= .Params.categories }}
  {{ range $i,$p:= $categories }}
    <a class="tag-uppercase inline-block mb-3"
      href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
      >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
        {{ ", " }}
      {{ end }}
    </a>
  {{ end }}
  <h5 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h5>
  <p class="mb-3">{{ .Summary }}</p>

  {{ $authorName := .Params.author }}
  {{ $author := site.GetPage (print "authors/" $authorName) }}
  {{ if $author }}
  <ul class="mb-3">
    <li class="mr-4 flex items-center">
            <!-- Add author's avatar -->
            {{ if $author.Params.image }}
                <img class="inline-block rounded-2xl mr-2" src="{{ $author.Params.image }}" alt="Avatar of {{ $author.Title }}" width="24" height="24">
            <!-- Display author information here -->
            {{ $author.Title }}
    </li>
    {{/*  <li class="mr-4 inline-block">
      <i class="fa-regular fa-folder mr-2"></i>
      {{ $categories:= .Params.categories }}
      {{ range $i,$p:= $categories }}
        <a
          href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
          class="ms-1"
          >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
            {{ ", " }}
          {{ end }}
        </a>
      {{ end }}
    </li>  */}}
  </ul>
  {{ else }}
  {{ end }}
{{ end }}        

  <a class="highlight" href="{{ .RelPermalink }}">
    {{ i18n "read_more" }}<i class="fa fa-arrow-right highlight pl-2"></i>
  </a>
</div>
