<div class="bg-body ">
  <h5 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h5>
  <ul class="mb-3">
    <li class="mr-4 inline-block">
      <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
        <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
      </a>
    </li>
    {{/*  <li class="mr-4 inline-block">
      <i class="fa-regular fa-folder mr-2"></i>
      {{ $categories:= .Params.categories }}
      {{ range $i,$p:= $categories }}
        <a
          href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
          class="ms-1"
          >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
            {{ ", " }}
          {{ end }}
        </a>
      {{ end }}
    </li>  */}}
  </ul>
  <p class="mb-3">{{ .Summary }}</p>
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ i18n "read_more" }}
  </a>
</div>
