<header
  class="header {{ if site.Params.navbar_fixed }}sticky top-0{{ end }} z-30">
  <nav class="navbar container">
    <!-- logo -->
    <div class="order-0">
      <!-- navbar brand/logo -->
      <a class="navbar-brand block" href="{{ site.Home.RelPermalink }}">
        {{ partial "logo" }}
      </a>
    </div>
    <!-- navigation btn (mobile) -->
    {{ if site.Params.navigation_button.enable }}
      <div class="order-3 lg:hidden">
        <a
          class="btn btn-outline-primary btn-sm"
          href="{{ site.Params.navigation_button.link | relLangURL }}">
          {{ site.Params.navigation_button.label }}
          <i class="fa-solid fa-heart pl-2"></i>
        </a>
      </div>
    {{ end }}

    <div class="order-1 ml-auto flex items-center md:order-2 lg:ml-0">
      {{ with site.Params.search }}
        {{ if .enable }}
          <button
            aria-label="search"
            class="mr-5 inline-block border-r pr-5 text-xl"
            data-target="search-modal">
            <i class="fa-solid fa-search"></i>
          </button>
        {{ end }}
      {{ end }}

      {{ partial "components/language-switcher" (dict "Context" . "Class" "mr-5 pl-2 py-1 dark:bg-darkmode-theme-light rounded") }}
      {{ partial "components/theme-switcher" (dict "Class" "mr-5") }}


      <!-- navigation btn -->
      {{ if site.Params.navigation_button.enable }}
        <a
          href="{{ site.Params.navigation_button.link | relLangURL }}"
          class="btn btn-outline-primary btn-sm hidden lg:inline-block">
          {{ site.Params.navigation_button.label }}<i class="fa-solid fa-heart pl-2"></i>
        </a>
      {{ end }}
    </div>
  </nav>
</header>