{{ define "main" }}

  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <!-- header -->
          <div class="mb-10">
            <h2>
              {{ .Title }}
            </h2>
          </div>
          <!-- blog posts -->
          <div class="row">
            <div class="lg:col-9 sm:mb-14">
              <div class="row">
                {{ $paginator:= .Paginate .RegularPages }}
                {{ range $paginator.Pages }}
                  <div class="md:col-4 mb-4 sm:mb-8">
                    {{ partial "components/blog-card" . }}
                  </div>
                {{ end }}
              </div>
              {{ partial "components/pagination.html" . }}
            </div>
            <!-- sidebar -->
            <div class="lg:col-3 mb-4 sm:mb-8">
              <!-- widget -->
              {{ $widget:= site.Params.widgets.sidebar }}
              {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
