{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10 max-w-800">
        <div class="mb-10">
          <h2>{{ .Title }}</h2>
        </div>

          <div class="content max-w-800 mb-12 mx-auto">{{ .Content }}</div>
      </div>
    </div>

    <div class="row">
      {{ range .RegularPages }}
        <div class="md:col-4 lg:col-4 mb-14">
          {{ partial "components/author-card" . }}
        </div>
      {{ end }}
    </div>

  </section>
  
{{ end }}