{{ define "main" }}
  
  <!-- Banner -->
  {{ with .Params.banner }}
  <div class="bg-main bg-right-top">
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="lg:col-8 text-left">
            <h1 class="title gradient-text mb-4">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a class="btn btn-outline-primary" href="{{ .link | absURL }}">
                  {{ .label }}
                  <i class="fa-brands fa-discord pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
          {{/*  <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto" "Size" "800x") }}
          </div>  */}}
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <!-- blog posts -->
  <section class="section">
    <div class="container">
      <div class="lg:col mb-8 text-left">
        <h3>Recent Posts</h3>
      </div>
      <div class="row">
        <div class="lg:col">
          <div class="flex flex-wrap mb-4">
            {{ $paginator:= .Paginate (where .Site.RegularPages "Section" "blog")  }}
            {{ range $paginator.Pages }}
              <div class="w-full md:w-1/3 mb-8 sm:mb-8 md:pr-8 md:last:pr-0">
                {{ partial "components/blog-card-minimal" . }}
              </div>
            {{ end }}
          </div>
          <a class="btn btn-outline-primary mt-1" href="blog">
            {{ i18n "read_more" }}
            <i class="fa fa-arrow-right pl-2"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  </div>
  <!-- blog posts -->


  <!-- partners -->
  {{ range $i, $e:= .Params.partners }}
    <section class="section bg-top-left bg-partners {{ if (modBool $i 2) }}{{ end }}">

      <div class="container">
        <div class="row items-center flex flex-wrap -mx-3 justify-between">
              <!-- Text Section -->
              <div class="{{ if not (modBool $i 2) }} md:order-1 {{ end }} md:col-5 lg:col-4">
                <h3 class="mb-8">
                  {{ .title | markdownify }}
                </h3>
                <p class="mb-8">
                  {{ .content | markdownify }}
                </p>
                {{ with .button }}
                  {{ if .enable }}
                    <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                      {{ .label }}
                      <i class="fa fa-arrow-right pl-2"></i>
                    </a>
                  {{ end }}
                {{ end }}
              </div>
    
              <!-- Logo Mosaic Section -->
              <div class="mb:md-0 {{ if not (modBool $i 2) }} md:order-2 {{ end }} md:col-7">
                  <div class="grid grid-cols-3 gap-8 justify-center place-items-center">
                      <!-- Individual logos will go here -->
                      {{ range .logo }}
                      <div class="flex justify-center items-center">
                          <img 
                              src="{{ .light }}" 
                              alt="{{ .alt }}" 
                              style="height: {{ .height }}" 
                              class="block dark:hidden" 
                          >
                          <img 
                              src="{{ .dark }}" 
                              alt="{{ .alt }}" 
                              style="height: {{ .height }}" 
                              class="hidden dark:block" 
                          >
                      </div>
                      {{ end }}
                  </div>
              </div>
              

        </div>
      </div>
    </section>
  {{ end }}
  <!-- partners -->
{{ end }}
